* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fb;
  color: #222;
  min-height: 100vh;
  padding: 30px;
  transition: 0.3s;
}

body.dark {
  background: #111827;
  color: #f9fafb;
}

.container {
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

header p {
  color: inherit;
  margin-bottom: 15px;
}

#themeToggle {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background: #222;
  color: white;
  cursor: pointer;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.3s;
}

body.dark .card {
  background: #1f2937;
}

h2 {
  margin-bottom: 15px;
}

.task-input {
  display: flex;
  gap: 10px;
}

.task-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.task-input button,
.timer-buttons button,
.full-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.task-input button {
  background: #169f0c;
}

.timer-buttons button {
  background: #111827;
}

.full-btn {
  background: #059669;
  width: 100%;
}

#taskList {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task-item button {
  background: #ef4444;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.timer-box {
  text-align: center;
}

.timer-box h3 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

textarea {
  width: 100%;
  min-height: 140px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  resize: vertical;
  margin-bottom: 10px;
  outline: none;
}